*.bak
*.o
*.old
*.orig
*.rej
.*.swp
.DS_Store
._*
.deps
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
build_setup.nsi
config.cache
config.h
config.h.in
config.log
config.status
configure
docsis-*.*.*
libtool
ltmain.sh
mibs/.index
mkinstalldirs
stamp-h1
ylwrap
