*.bak
*.o
*.old
*.orig
*.rej
.*.swp
.DS_Store
._*
.deps
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
build_setup.nsi
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
docsis-*.*.*
libtool
ltmain.sh
mibs/.index
missing
mkinstalldirs
stamp-h1
ylwrap
compile
test-driver
src/docsis
src/docsis_lex.c
src/docsis_yy.c
src/docsis_yy.h
doc/config-settings.html
po/Makefile.in.in
tests/*.new
/Default/
.cproject
.project
.settings/*
backup*
doc-pak/*
*.deb
description-pak
*.gcno
*.gcda
*.gcov
