*.bak
*.o
*.old
*.orig
*.rej
.*.swp
.DS_Store
._*
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
docsis-*.*.*
libtool
ltmain.sh
mkinstalldirs
stamp-h1
ylwrap
